# ---- build output ----
build/
out/
cmake-build-*/
.vs/
.vscode/

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb
*.ilk
*.elf
*.map

# ---- boot artifacts ----
/tools/limine/
*.iso
*.img
*.hdd

# ---- IDE ----
.vscode/
.idea/
*.vs/
*.user
*.sln
*.vcxproj
*.vcxproj.*

# ---- local proprietary / user-provided ----
/Firmware/*
!/Firmware/.gitkeep
/Inbuilt_Soft/*
!/Inbuilt_Soft/.gitkeep

# ---- misc ----
*.log
.DS_Store
Thumbs.db
