# QEMU machine description for NOTYVOS Phase 0
# Usage: qemu-system-x86_64 -readconfig tools/qemu/qemu-x86_64.cfg
[device "q35-pcie"]
driver = "q35-pcie"

[machine]
type = "q35"
accel = "tcg,thread=multi"
smm = "off"

[memory]
size = "2G"

[smp-opts]
cpus = 1